:root {
  --vue3-noti-success-color: #4caf50;
  --vue3-noti-success-text-color: white;

  --vue3-noti-info-color: #3585F2;
  --vue3-noti-info-text-color: white;

  --vue3-noti-warning-color: #E8D943;
  --vue3-noti-warning-text-color: white;

  --vue3-noti-error-color: #ED4D4C;
  --vue3-noti-error-text-color: white;

  --vue3-noti-group-gap: 16px;

  --vue3-noti-group__item-padding-x: 24px;
  --vue3-noti-group__item-padding-y: 22px;



  @media screen and (width < 640px) {
    --vue3-noti-border-radius: 0px;
    --vue3-noti-offset: 0px;
    --vue3-noti-width: 100vw;
  }

  @media screen and (width >= 640px) {
    --vue3-noti-offset: 16px;
    --vue3-noti-border-radius: 8px;
    --vue3-noti-min-width: 280px;
    --vue3-noti-max-width: 50vw;
  }
}
